*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

body{
  background:#12212D;
  color:white
}
p{
  margin-right:50px;
  margin-top:20px;
}

.link{
  display:flex;
  width:600px;
  justify-content: space-between;
  font-size:1.2em;
  text-decoration: none;
  margin-bottom:40px;
  margin-left:20px;


}
.links{
  color:white;
  
}
.links:hover{
  cursor: pointer;
  text-decoration: underline;
}

button:hover{
  cursor: pointer;
}